// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// Overriding the gross active admin styles that bleed into the normal content.
$primary: rgb(21, 52, 72);
$secondary: rgb(223, 208, 184);
$tertiary: rgb(148, 137, 121);
$the-fourth-one: rgb(60, 91, 111);
