<footer class="footer">
  <div class="content has-text-centered">
    <p class="subtitle">API Data from <a href="https://api.nookipedia.com/doc">Nookipedia</a> was granted to me to create this project.</p>
    <p class="subtitle">All photos belong to the game Animal Crossing New Horizon, and were collected from the API.</p>
  </div>
</footer>