<div class="cell is-col-span-4 mx-6 px-6">
  <aside class="menu">
    <p class="menu-label">Search</p>
    <p class="menu-label">Categories</p>
    <ul class="menu-list">
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
    <p class="menu-label">Filter By:</p>
  </aside>
</div>